<div class="jumbotron">
    Swagger / Swashbuckle Demo
</div>
<div class="row">
    <ul>
        <li><a href="/api/secret" target="_blank">/api/secret</a></li>
        <li><a href="/api/customer" target="_blank">/api/customer</a></li>
        <li><a href="/api/customer/1" target="_blank">/api/customer/1</a></li>
        <li><a href="/api/customer/1/order" target="_blank">/api/customer/1/order</a></li>
        <li><a href="/api/customer/1/order/1" target="_blank">/api/customer/1/order/1</a></li>
        <li><a href="/api/customer/1/order/1/shipment" target="_blank">/api/customer/1/order/1/shipment</a></li>
        <li><a href="/api/customer/1/order/1/shipment/1" target="_blank">/api/customer/1/order/1/shipment/1</a></li>
    </ul>
</div>
